{{- if .Site.Menus.ministries }}
	<nav>
		<h2>Ministries</h2>
		<ul>
			{{- $currentPage := . }}
			{{- range .Site.Menus.ministries }}
				{{ partial "menu-item.html" . -}}
			{{- end }}
		</ul>
	</nav>
{{ end -}}
{{- if .Site.Menus.about -}}
	<nav>
		<h2>About</h2>
		<ul>
			{{- $currentPage := . }}
			{{- range .Site.Menus.about }}
				{{ partial "menu-item.html" . -}}
			{{- end }}
		</ul>
	</nav>
{{- end -}}
{{- if .Site.Menus.legal }}
	<nav>
		<h2>Legal</h2>
		<ul>
			{{- $currentPage := . }}
			{{- range .Site.Menus.legal }}
				{{ partial "menu-item.html" . -}}
			{{- end }}
		</ul>
	</nav>
{{ end -}}
