<nav class="social">
	<ul>
		{{ with .Site.Params.social.twitter }}
		<li>
			<a class="twitter" href="https://twitter.com/{{.}}/">
			{{ if (fileExists "static/img/catharticons/twitter.svg") -}}
				{{ readFile "static/img/catharticons/twitter.svg" | safeHTML }}
			{{ else }}
			Twitter
			{{- end }}
			</a>
		</li>
		{{ end }}
		{{ with .Site.Params.social.facebook }}
		<li>
			<a class="facebook" href="https://facebook.com/{{.}}/">
			{{ if (fileExists "static/img/catharticons/facebook.svg") -}}
				{{ readFile "static/img/catharticons/facebook.svg" | safeHTML }}
			{{ else }}
			Facebook
			{{- end }}
			</a>
		</li>
		{{ end }}
		{{ with .Site.Params.social.messenger }}
		<li>
			<a class="messenger" href="https://m.me/{{.}}/">
			{{ if (fileExists "static/img/catharticons/messenger.svg") -}}
				{{ readFile "static/img/catharticons/messenger.svg" | safeHTML }}
			{{ else }}
			Messenger
			{{- end }}
			</a>
		</li>
		{{ end }}
		{{ with .Site.Params.social.linkedin }}
		<li>
			<a class="linkedin" href="https://www.linkedin.com/company/{{.}}/">
			{{ if (fileExists "static/img/catharticons/linkedin.svg") -}}
				{{ readFile "static/img/catharticons/linkedin.svg" | safeHTML }}
			{{ else }}
			LinkedIn
			{{- end }}
			</a>
		</li>
		{{ end }}
		{{ with .Site.Params.social.instagram }}
		<li>
			<a class="instagram" href="https://instagram.com/{{.}}/">
			{{ if (fileExists "static/img/catharticons/instagram.svg") -}}
				{{ readFile "static/img/catharticons/instagram.svg" | safeHTML }}
			{{ else }}
			Instagram
			{{- end }}
			</a>
		</li>
		{{ end }}
		{{ with .Site.Params.social.gitHub }}
		<li>
			<a class="github" href="https://github.com/{{.}}/">
			{{ if (fileExists "static/img/catharticons/github.svg") -}}
				{{ readFile "static/img/catharticons/github.svg" | safeHTML }}
			{{ else }}
			GitHub
			{{- end }}
			</a>
		</li>
		{{ end }}
	</ul>
</nav>
